<section id="productos">
  <div class="container">
    <h3>{{ page.products-title }}</h3>
    <h4>{{ page.products-subtitle }}</h4>
    <div class="productos cf">
      <div class="productos-wedge"></div>
      <div class="productos-menu">
        <ul>
          <li class="software active">{{ page.products-software-factory-argentina }}</li>
          <li class="tools">{{ page.products-herramientas-financieras }}</li>
        </ul>
      </div>
      <div class="productos-copy">
        <div class="card productos-copy-factory active">
          <div class="card-header">
            <span class="red"></span>
            <span class="yellow"></span>
            <span class="green"></span>
          </div>
          <div class="card-content">
            <h3><span></span>{{ page.products-software-factory-argentina }}</h3>
            <p>{{ page.products-software-factory-copy }}</p>
            <ul>
              <li><span class="location"></span>{{ page.products-oficinas }}</li>
              <li><span class="modalidad"></span>{{ page.products-modalidad }}</li>
              <li><span class="branches"></span>{{ page.products-metodologias }}</li>
            </ul>
            <span class="factory-image"></span>
          </div>
        </div>
        <div class="card productos-copy-tools">
          <div class="card-header">
            <span class="red"></span>
            <span class="yellow"></span>
            <span class="green"></span>
          </div>
          <div class="card-content cf">
            <h3>{{ page.products-herramientas-financieras }}</h3>
            <dl>
              <dt>{{ page.products-financial-universe }}</dt>
              <dd>{{ page.products-financial-universe-copy }}</dd>
              <dd>{{ page.products-financial-universe-copy-bullet }}</dd>
              <dt>{{ page.products-bot-bursatil }}</dt>
              <dd>{{ page.products-bot-bursatil-copy }}</dd>
              <dt>{{ page.products-pruebas }} {{ page.products-paragon }}</dt>
            </dl>
            <div class="tools cf">
              <span class="atmulator active">{{ page.products-atmulator }}</span>
              <span class="fastress">{{ page.products-fastress }}</span>
              <span class="webfastest">{{ page.products-web-fastest }}</span>
              <span class="fastest">{{ page.products-fastest }}</span>
              <span class="virtual">{{ page.products-virtual-atm }}</span>
            </div>
            <div class="tools-description">
              <p class="atmulator active">{{ page.products-atmulator-copy }}</p>
              <p class="fastress">{{ page.products-fastress-copy }}</p>
              <p class="webfastest">{{ page.products-web-fastest-copy }}</p>
              <p class="fastest">{{ page.products-fastest-copy }}</p>
              <p class="virtual">{{ page.products-virtual-atm-copy }}</p>
            </div>
            <span class="tools-image"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
