#productos {
  margin: 30px 0 0;
  position: relative;
  @media #{$desktop}{
    margin: 0;
  }
  h3 {
    margin: 0 0 20px 0;
  }
  h4 {
    margin: 0 0 40px 0;
    @media #{$tablet}{
      margin: 0 0 60px;
    }
  }
  .productos-wedge {
    display: none;
    @media #{$tablet}{
      display: block;
      background: linear-gradient(267.26deg, #FDEAFD 11.34%, #E8E8FC 92.15%);
      width: 70%;
      height: 300px;
      position: absolute;
      z-index: -1;
      left: -20px;
      transform: skewY(5deg);
      transform-origin: bottom left;
    }
  }
  .productos-menu {
    display: none;
    @media #{$tablet}{
      display: block;
      width: 50%;
      float: left;
      ul {
        padding: 100px 20px 0; 
        li {
          padding: 0 0 20px 30px;
          background: url('../img/icon-arrow.svg') no-repeat 0 0;
          color: $primary-text;
          text-decoration: none;
          font-weight: 600;
          cursor: pointer;
          &:hover,
          &.active {
            color: $electric-violet;
            background: url('../img/icon-arrow-active.svg') no-repeat 0 0;
          }
        }
      }
    }
  }
  .productos-copy {
    @media #{$tablet}{
      width: 50%;
      float: right;
    }
    .card {
      background: white;
      mix-blend-mode: normal;
      box-shadow: 0px 0px 22px -6px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      margin-bottom: 40px;
      @media #{$tablet}{
        display: none;
        &.active {
          display: inline-block;
        }
      }
      .card-header {
        border-bottom: 1px solid $grey-borders;
        padding: 14px 10px;
        display: flex;
        span {
          width: 16px;
          height: 16px;
          display: inline-block;
          margin: 0 5px;
          border-radius: 50%;
        }
        span.red {
          background: $red;
        }
        span.yellow {
          background: $yellow;
        }
        span.green {
          background: $green;
        }
      }
      .card-content {
        padding: 20px;
        h3 {
          span {
            display: block;
            width: 100%;
            height: 25px;
            text-align: center;
            background: url('../img/icon-argentina.jpg') no-repeat 50% 0;
            margin-bottom: 10px;
            @media #{$tablet}{
              display: inline-block;
              margin: 0 10px 0 0;
              width: 25px;
            }
          }
        }
        dl {
          dt {
            @include inter-bold($primary-text, 18px);
          }
          dt:last-child {
            margin-bottom: 30px;
          }
          dd {
            @include inter($primary-text, 16px);
            margin-bottom: 30px;
          }
        }
        p,
        .tools {
          @include inter($primary-text, 16px);
          margin: 0 0 20px;
          span {
            box-sizing: border-box;
            width: auto;
            padding: 12px 20px;
            background: #FFFFFF;
            border: 1px solid $grey-borders;
            border-radius: 10px;
            float: left;
            margin: 0 10px 10px 0;
            cursor: pointer;
            &.active {
              background: #E8AAF2;
              box-shadow: 0px 0px 21px #D7A2DF;
            }
          }
        }
        .tools-description {
          border-top: 1px dashed $grey-borders;
          padding: 10px 0;
          p {
            padding: 10px 0;
            display: none;
            &.active {
              display: inline;
            }
          }
        }
        ul {
          margin-bottom: 20px;
          li {
            list-style-type: none;
            padding-bottom: 15px;
            @include inter($primary-text, 16px);
            span {
              display: inline-block;
              width: 24px;
              height: 24px;
              margin: 0 15px 0 0;
              &.location {
                background: url('../img/icon-location.svg') no-repeat 0 0;
                position: relative;
                top: 5px;
              }
              &.modalidad {
                background: url('../img/icon-modalidad.svg') no-repeat 0 0;
                position: relative;
                top: 5px;
              }
              &.branches {
                background: url('../img/icon-branches.svg') no-repeat 0 0;
                position: relative;
                top: 5px;
              }
            }
          }
        }
      }
    }
  }
}